DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
MAIL_PASSWORD=
JWT_KEY=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_CLIENT_ID=
# Loại lưu trữ: local hoặc s3
FILE_STORAGE_TYPE=local

# Nếu dùng local storage
# FILE_UPLOAD_DIR=./uploads   # Nếu muốn override
# FILE_UPLOAD_URL=http://localhost:8080/files

# Nếu dùng S3
AWS_S3_BUCKET_NAME=my-bucket-name
AWS_S3_REGION=us-east-1
AWS_S3_ACCESS_KEY=YOUR_AWS_ACCESS_KEY
AWS_S3_SECRET_KEY=YOUR_AWS_SECRET_KEY

ENV=development

# VNPAY configuration
# VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
# VNPAY_TMN_CODE=YOUR_VNPAY_TMN_CODE
# VNPAY_HASH_SECRET=YOUR_VNPAY_HASH_SECRET
# VNPAY_RETURN_URL_BASE=http://localhost:5173